<a href="https://colab.research.google.com/github/Sravanthi123456789/Python/blob/main/conditions_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONDITIONAL STATEMENTS

***** EX:- Take a variable x and print "EVEN" if the number is divisible by 2 ,
otherwise print "ODD".

In [2]:
x=5
if(x%2==0):
  print("EVEN")
else:
  print("ODD")

ODD

*****  EX:- Take a variable y and print "GRADE A" if y is greater than 90,
print"GRADE B" if y is greater than 60 and less than or equal to 90,
print"GRADE F" otherwise.

In [4]:
y=90
if(y>90):
  print("GRADE A")
elif(y>60 and y<=90):
  print("GRADE B")
else:
  print("GRADE F")

GRADE B

LOOPING CONSTRUCTS

In [7]:
for i in range(10):
  print("python is awesome")

python is awesome
python is awesome
python is awesome
python is awesome
python is awesome
python is awesome
python is awesome
python is awesome
python is awesome
python is awesome

***** Write a for loop to print all the num between 10 and 30

In [8]:
for i in range(11,30):
  print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

***** Write a for loop to print odd num between 10 and 30

In [9]:
for i in range(11,30,2):
  print(i)

11
13
15
17
19
21
23
25
27
29